# Compiled output
/server/deployment/
/tmp

# Angular
/.angular

# Node
/node_modules
/server/node_modules
/server/package-lock.json
/package-lock.json

# IDEs and editors
/.idea
/.vscode

# Server
/server/data.db